aside ul {
  width: 100%;
  display: grid;
  gap: 10px;
  overflow: auto;
  flex: auto;
  align-items: start;
  align-content: start;
  justify-items: center;
}
@media screen and (max-width: 800px) {
  aside ul {
    grid-auto-flow: column;
    gap: 0;
  }
}

aside li {
  display: flex;
  align-items: center;
  border: 2px solid #6e6ef0;
  border-radius: 20px;
  width: 70%;
  min-height: 30px;
}

aside li[data-selected="true"] {
  background-color: #d0c8ff;
}

aside > form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
aside .project {
  flex: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  font-size: calc(8px + 0.5vw);
}

aside .project > .heading {
  padding-left: 20px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

aside .delete-button {
  appearance: none;
  padding-right: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  height: 100%;
  color: #6e6e14;
  background-color: transparent;
}

aside .delete-button img {
  content: url("../img/icons8-delete.svg");
  width: 35px;
  height: 35px;
}

aside .delete-button:hover > img {
  transform: scale(1.5);
}

aside > * {
  margin-top: 20px;
}

aside > span {
  padding-bottom: 20px;
}
