body {
  height: 100vh;
}

body > .blurrable {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 60px auto / 1fr 3fr;
}

body.popup-shown .blurrable {
  pointer-events: none;
  user-select: none;
  filter: blur(2px) brightness(0.2);
}

button,
input[type="submit"] {
  cursor: pointer;
}

body header {
  grid-column: 1 / -1;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 80px;
  font-size: 30px;
}

body aside {
  /* background-color: blue; */
  /* border-right: 1px solid #000; */
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}
body main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
