body .editor {
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  height: 85vh;
  width: 40vw;
  margin: auto;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  top: 0;
  opacity: 0;
  transform: translateY(-50%);
  padding: 20px;
  overflow: auto;
  transition: all 0.3s ease-in-out 0s;
}

body.popup-shown .editor {
  visibility: visible;
  top: 50%;
  opacity: 1;
}

@media screen and (max-width: 700px) {
  body .editor {
    width: 80vw !important;
  }
}
.editor::after {
  content: "🗙";
  position: fixed;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #be0000;
  width: 20px;
  height: 20px;
}
.editor .add-cancel-button {
  width: 30px;
  align-self: end;
  border: none;
}

body .editor {
  visibility: hidden;
}

body.popup-shown .blurrable {
  filter: blur(2px);
}

.editor input[type="submit"] {
  width: 60%;
  height: 50px;
  margin: auto;
}
.editor label {
  display: flex;
  flex-direction: column;
  --input-height: 30px;
}

.editor > * {
  margin-bottom: 20px;
}

.editor > label:not([for="description"]) > div {
  width: 100%;
  height: 90px;
}

.editor > label[for="description"] > div {
  height: 100%;
}

.editor div {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.editor div > *:first-child {
  flex: auto;
}
.editor .title {
  font-size: calc(10px + 1vw);
}

.editor .title:not(label[for="description"] > .title) {
  position: relative;
  top: calc(60px - var(--input-height));
}

.editor div > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 35px;
  height: 100%;
}

.editor ul > span {
  position: relative;
  top: -4px;
}

.editor > label[for="title"] {
  width: min(90%, 400px);
}

.editor input {
  min-width: 90px;
}

.editor :is(input, textarea) {
  font-size: calc(15px + 0.5vw);
}

.editor > label :is(input, textarea):focus {
  outline: none;
}

.editor > label[for="title"] {
  --input-height: 40px;
}
.editor > label input {
  height: var(--input-height);
}

.editor > label[for="due-date"],
.editor > label[for="priority"] {
  width: min(100%, 230px);
}

.editor > label[for="description"] {
  flex: auto;
  min-height: 200px;
}
.editor > label[for="description"] textarea {
  height: 100%;
  resize: none;
}
