@media screen and (max-width: 700px) {
  body > .blurrable {
    grid-template: 60px minmax(30px, auto) auto / auto !important;
  }

  body header {
    padding-left: 0 !important;
    display: flex !important;
    justify-content: center !important;
  }
  aside ul {
    overflow-x: auto !important;
    grid-auto-columns: 130px !important;
    grid-auto-flow: column !important;
    align-items: center !important;
    justify-items: stretch !important;
  }
  aside {
    position: relative;
    padding-top: 20px;
  }
  aside > form {
    margin-top: 35px;
  }
  aside::after {
    position: absolute;
    content: "...";
    width: calc(30px + 0.4vw);
    height: calc(30px + 0.4vw);
    display: flex;
    align-items: center;
    font-weight: 900;
    /* background-image: url("../img/icons8-delete.svg"); */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    right: 0px;
  }
  aside ul > li {
    width: 100%;
  }

  aside.hidden > * {
    display: none;
  }
}
