@media screen and (max-width: 700px) {
  body > .blurrable {
    /* grid-template: 60px minmax(80px, 2fr) 3fr / auto !important; */
    display: flex !important;
    flex-direction: column;
  }

  body header {
    padding-left: 0 !important;
    display: flex !important;
    justify-content: center !important;
    height: 60px;
  }
  aside ul {
    overflow-x: auto !important;
    grid-auto-columns: 130px !important;
    grid-auto-flow: column !important;
    align-items: center !important;
    justify-items: stretch !important;
  }
  aside {
    position: relative;
    padding-top: 20px;
    flex-shrink: 0;
  }
  aside .project {
    padding: 0 !important;
  }
  aside > form {
    margin-top: 35px;
  }
  aside > button.expand {
    margin-top: 0;
    position: absolute;
    width: calc(30px + 0.4vw);
    height: 30px;
    display: flex !important;
    font-size: 30px;
    align-items: start;
    justify-content: end;
    width: 100%;
    /* height: 100%; */
    /* background-image: url("../img/icons8-delete.svg"); */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* top: -15px; */
    /* bottom: 50%; */
    right: 0px;
    border: none;
  }
  aside ul > li {
    width: 100%;
  }

  aside.hidden-on-mobile > *:not(button) {
    display: none;
  }

  aside.hidden-on-mobile {
    height: 30px;
  }
}

button.expand > img {
  width: 0.8em;
  height: 0.8em;
  object-fit: contain;
  content: url("../img/more-horizontal-svgrepo-com\ \(1\).svg");
}
